<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Install app</title>
    <link rel="stylesheet" href="https://unpkg.com/chota@latest" />
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col">
          <h1>Obtain shopify access token</h1>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="col">
            <form action="/install">
              <fieldset id="forms__input">
                <legend>Shop name</legend>
                <p>
                  <label for="input__text">eg. storilabs.myshopify.com</label>
                  <input
                    id="input__text"
                    type="text"
                    name="shop"
                    placeholder="storilabs.myshopify.com"
                  />
                </p>
                <p>
                    <input type="submit" value="Submit" />
                </p>
              </fieldset>
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
